<?xml version='1.0' encoding='utf-8'?>
<widget id="com.neologix.fifa" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Fifa 2014</name>
    <description>
        Fifa 2014
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
       Fifa 2014
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
	</feature>
    <icon src="icon.png" />
   <!-- icon screen Android-->
	<icon src="images/icon.png" gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="images/splash.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="images/splash.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="images/splash.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="images/splash.png" gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="images/splash.jpg" gap:platform="winphone" />
    
    <access origin="http://127.0.0.1*" />
</widget>
